._pageContainer_1ffog_1{padding:var(--spacing-6) var(--spacing-8);max-width:1400px;margin:0 auto}.__pageContainer_cjm9k_1_1ffog_13{margin-bottom:var(--spacing-6)}@media(max-width:768px){._pageContainer_1ffog_1{padding:var(--spacing-4)}}
